doctype html 
html 
  head 
    title #{title}
    meta(name="viewport" content="width=device-width, initial-scale=1")
    - const base = process.env.BASE_URL || ""
    link(rel="stylesheet", href=`${base}/reset.css`)
    link(rel="stylesheet", href=`${base}/the-monospace-web.css`)
    link(rel="stylesheet", href=`${base}/index.css`)
    script(type="text/javascript" src=`${base}/alpine.js` defer="") 
    script(type="text/javascript" src=`${base}/index.js`) 
  body(x-data="") !{content}
    include ../components/footer.pug 
    