doctype html 
html 
  head 
    title #{title}
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href=`${process.env.BASE_URL || ""}/reset.css`)
    link(rel="stylesheet", href=`${process.env.BASE_URL || ""}/the-monospace-web.css`)
    script(type="text/javascript" src=`${process.env.BASE_URL || ""}/alpine.js` defer="") 
    script(type="text/javascript" src=`${process.env.BASE_URL || ""}/index.js`) 
  body(x-data="") !{content}
    include ../components/footer.pug 
    