mixin sidebar(base)
  div
    a(href=`${base}/`) Start
    h2 Elements 
    a(href=`${base}/text`) Text
    br
    a(href=`${base}/misc`) Misc
    h2 Controls 
    a(href=`${base}`) Lists
    br
    a(href=`${base}/tables`) Tables 
    br
    a(href=`${base}`) Grids  
    br
    a(href=`${base}`) Forms 
    h2 Components
    a(href=`${base}`) Trees
    br
    a(href=`${base}/pre`) Pre
    
