- const base = process.env.BASE_URL || ""
mixin sidebar 
  div(style={"flex-shrink":"1"}) 
    a(href=`${base}/`) Start
    h2 Elements 
    a(href=`${base}/text`) Text
    h2 Controls 
    a(href=`${base}`) Lists
    br
    a(href=`${base}`) Tables 
    br
    a(href=`${base}`) Grids  
    br
    a(href=`${base}`) Forms 
    h2 Components
    a(href=`${base}`) Trees
    br
    a(href=`${base}`) Pre
    
